/* ProfilePicture/ProfilePicture.css */

.profile-picture > img {
	/*TODO: maybe move this to UserSmall's css for better reusability?*/
	width: 100%;
	max-width: 10em;
	height: 100%;
	border-radius: 10em;
}

.profile-picture {
	display: flex;
	align-items: flex-start;
}
