/* ProfilePicture/ProfilePicture.css */

.profile-picture > img {
	/*TODO: maybe move this to UserSmall's css for better reusability?*/
	width: 100%;
	max-width: 7em;
	max-height: 7em;
	height: 50%;
	padding: 3em;
	border-radius: 10em;
}

.profile-picture {
	display: flex;
	align-items: flex-start;
}
