/* ProfilePicture/ProfilePicture.css */

.profile-picture {
	/*TODO: maybe move this to UserSmall's css for better reusability?*/
	width: 50%;
	max-width: 7em;
	border-radius: 50px;
	border-radius:70%;
}
