/* TuneList/TuneList.css */

.tune-list {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 6;
	justify-self: center;
	width: 100%;
	text-align: center;
	font-size: 3em;
	font-family: helvetica;
	margin: 1em;
}
