/* UserSmall/UserSmall.css */

.user-small {
	max-width: 400px;
	min-width: 200px;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 1fr;
	
	justify-items: center;
	align-items: center;

	border-radius: 10em; 
	background-color: #fffaba;	
}

.user-info {
	grid-column: 2 / 3;
}

.profile-picture {
	grid-column: 1 / 2;
}

.tune-player {
	grid-column: 3 / 3;
}
