/* UserSmall/UserSmall.css */

.user-small {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 1fr 1fr;
	background-color: #fffaba;	
	justify-items: center;
	align-items: center;
	border-radius: 20px;
}

.profile-picture {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.user-info {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	wrap: flex-wrap; /*this isn't working as of 3/19*/
}

.tune-player {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}
